  <div class="toolbar">
    <% if (auth) {%>
      <a href="api/emails">Send Email</a>
      <a href="api/user">Profile</a>
      <a href="api/auth/logout">Logout</a>
    <% }else{ %>

        <a href="api/auth/google">Login</a>

    <%}%>
  </div>
