<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%include partials/meta.ejs%>
</head>
<body>
  <%include partials/toolbar.ejs%>
<h1>Something went wrong.</h1>
<p> Please click <a href="/">here</a> to go back to home</p>
</body>
</html>
