<!DOCTYPE html>
<html>
<head>
  <title>Express version</title>

  <%include partials/meta.ejs%>

</head>
<body>
 <%include partials/toolbar.ejs%>

  <h1 class="welcome">Welcome to Invoice!</h1>

  <div class="flexbox">
    <div class="index-flex" id="contact-list">
      <div class="index-content">
        <h2>See All Clients</h2>

        <a href="api/contacts"><div class="index-image" id="contact-cards"></div></a>
      </div>
    </div>
  </div>

</body>
</html>
