<!DOCTYPE html>
<html>
<head>
  <title>Express version</title>

  <%include partials/meta.ejs%>

</head>
<body>
 <%include partials/toolbar.ejs%>

  <div class="flexbox">
    <div class="index-flex" id="email">
      <h1>Send Mail</h1>
      <div class="index-image" id="envelope"></div>
    </div>
    <div class="index-flex" id="contact-list">
      <h2>See Contacts</h2>
      <div class="index-image" id="contact-cards"></div>
    </div>
  </div>

</body>
</html>
