<!DOCTYPE html>
<html>
<head>
  <title>Express version</title>

  <%include partials/meta.ejs%>

</head>
<body>
 <%include partials/toolbar.ejs%>

  <div class="flexbox">
    <div class="index-flex" id="email">
      <div class="index-content" id="index-left">
        <h2>Send Mail</h2>
        <!-- <a href="/api/emails"> -->
          <div class="index-image" id="envelope"></div>
        <!-- </a> -->
    </div>
  </div>
    <div class="index-flex" id="contact-list">
      <div class="index-content">
        <h2>See Contacts</h2>

        <a href="api/contacts"><div class="index-image" id="contact-cards"></div></a>
      </div>
    </div>
  </div>

</body>
</html>
