<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Invoice</title>
  <% include partials/meta.ejs %>

</head>
<body>

 <% include partials/toolbar.ejs %>

<div id="landing-page">
  <h1 id="landing-text">A new way to get what you deserve.</h1>
  <div id="sign-in"><h2>Sign in to <span id="title-login">Invoice</span> with Google.</h2>
    <a href="api/auth/google"><div id="button"></div></a>
  </div>
</div>
</body>
</html>
