<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%include ../partials/meta.ejs%>
</head>
<body>
  <%include ../partials/toolbar.ejs%>
  <ul>
  <%for (let template of templates) {%>
    <li><a href="/api/contacts/<%= contact.contactid %>/emails/<%= template.templateid %>">
      <div class="template"><p><%= template.template %></p></div>
    </a></li>
  <%}%>
  </ul>
</body>
</html>
