<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%include ../partials/meta.ejs%>
</head>
<body>
  <%include ../partials/toolbar.ejs%>
  <%let selected = {} %>
  <div id="contacts-send">
    <select id="contact-selection" onchange="addContact()">
      <%for (let contact of contacts){%>
        <option value="contact">contact.name</option>
      <%} %>
    </select>
  <button type="submit" value="submit" form="email-form">&#10146;</button>

  <% function addContact() {%>
    <% const select = document.getElementById('contact-selection')%>
    <%selected = select.value %>
  <%}%>

  </div>
  <form method='POST' action='/api/emails/send' id="email-form">
    <input name="to" placeholder="Recipient" value="<%selected.email %>" />
    <input name="subject" placeholder="Subject" />
    <textarea name="text" value="<%= template.template %>"></textarea>
  </form>
</body>
</html>
