<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%include ../partials/meta.ejs%>
</head>
<body>
  <%include ../partials/toolbar.ejs%>
  <h1>Message sent! Click here to go to contacts, here to send another email</h1>
</body>
</html>
