<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%include ../partials/meta.ejs%>
</head>
<body>
  <%include ../partials/toolbar.ejs%>
  <a href="/api/contacts/new">New Contact</a>
  <ul>
  <% for (let contact of contacts) {%>
    <%console.log(contact.contactid)%>
    <li><%= contact.name %> <%= contact.owed%> <a href="/api/contacts/<%= contact.contactid %>">See Contact</a></li>
  <%}%>

  </ul>
</body>
</html>
