<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%include ../partials/meta.ejs%>
</head>
<body>
  <%include ../partials/toolbar.ejs%>
  <a href="/api/contacts/new">New Contact</a>
  <ul>
  <%console.log(contacts)%>
  <% for (let contact of contacts) {%>
    <li><%= contact.name %> <%= contact.owed%></li>
  <%}%>
  </ul>
</body>
</html>
