<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%include ../partials/meta.ejs%>
</head>
<body>
  <%include ../partials/toolbar.ejs%>
  <ul>
  <h1>New Contact</h1>

<form method="POST" action="/api/contacts">
  <%include ../partials/contact-form%>
</form>
  </ul>
</body>
</html>
