<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%include ../partials/meta.ejs%>
</head>
<body>
  <%include ../partials/toolbar.ejs%>

    <h1><%= contact.name %> <%= contact.owed%></h1>
    <a href="/api/contacts/<%= contact.contactid %>/emails">Send Mail</a>

</body>
</html>
